*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* font familys */
    --font-asap: 'Asap', sans-serif;
    --font-inconsolata: "Inconsolata", monospace;
    --font-mavenpro: "Maven Pro", sans-serif;
    /* Colors principal */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    /* Colors base */
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;
    /* tipografia */
    --title-lg: 700 56px/120% var(--font-asap);
    --title-md: 700 24px/120% var(--font-asap);
    --title-sm: 700 16px/120% var(--font-asap);
    --subtitle: 400 20px/120% var(--font-inconsolata);
    --text-md: 400 16px/140% var(--font-mavenpro);
    --text-sm: 400 14px/140% var(--font-mavenpro);
}

body {
    background-color: var(--gray-500);
}

/* titles */
h1 {
    font: var(--title-lg);
    color: var(--gray-100);
    margin-top: 8px;
    margin-bottom: 26px;
}
h2 {
    font: var(--subtitle);
    color: var(--gray-200);
    text-align: center;
}
h4 {
    font: var(--title-md);
    color: var(--gray-100);
}
h5 {
    font: var(--title-sm);
    color: var(--gray-100);
}

/* texts */
h3 {
    font: var(--text-sm);
    color: var(--gray-300);
}

.span-color {
    color: var(--red);
    font: var(--subtitle);
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 24px;
}

.hero-header .down {
    position: absolute;
    left: 50%;
    bottom: 94px;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
}

.hero-header .down img {
    display: block;
    width: 32px;
    height: 32px;
}

.container {
    padding: 120px;
    padding-block: 72px;
}

a {
    text-decoration: none;
}
