.hero-header {
    background: url(../../src/assets/background/Background_Intro.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    height: 100%;
    width: 100%;
    text-align: center;
}

.hero-content {
    max-width: 1040px;
    .hero-profile {
        padding-block: 120px 83px;
        padding-inline: 163px;
        position: relative;
        display: inline-block;

        .profile-wrapper {
            position: relative;
            display: inline-block;
        }

        .profile-photo {
            border-radius: 50%;
            padding: 3px;
            border: 3px var(--red) solid;
        }

        .profile-vector {
            position: absolute;
            width: 32px;
            height: 32px;
            bottom: -2px;
            right: -2px;
            color: var(--green);
            font-family: var(--font-inconsolata);
            border: 1px var(--gray-500);
            z-index: 1;
        }
    }
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 16px;
    margin-top: 80px;
    .techcard {
        padding: 8px 16px;
        background-color: var(--gray-400);
        color: var(--gray-200);
        border-radius: 50px;
        max-width: 138px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        img {   
            width: 24px;
            height: 24px;
        }
    }
}