.hero-header {
    background: url(../../src/assets/background/Background_Intro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 57px;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    padding-inline: 0;

}

.hero-content {
    max-width: 800px;   
    .hero-profile {
        position: relative;
        margin-bottom: 56px;
        display: inline-block;
        .profile-photo {
            border-radius: 50%;
            padding: 3px;
            border: 3px var(--red) solid;
        }
        .profile-vector {
            position: absolute;
            width: 32px;
            height: 32px;
            bottom: 1px;
            right: -4px;
            color: var(--green);
            font-family: var(--font-inconsolata);
            border: 1px var(--gray-500);
        }
    }
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 16px;
    margin-top: 80px;
    .techcard {
        padding: 8px 16px;
        background-color: var(--gray-400);
        color: var(--gray-200);
        border-radius: 50px;
        max-width: 138px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        img {
            width: 24px;
            height: 24px;
        }
    }
}