.projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    align-items: start;
    max-width: 1040px;
    margin-inline: auto;
    margin-bottom: 144px;
    h2 {
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: 8px;
    }

    h4 {
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: 32px;
    }
}

.card {
    background-color: var(--gray-400);
    border-radius: 12px;
    padding: 16px;
    gap: 12px;
    display: grid;
    height: 100%;
    grid-template-rows: auto auto 1fr;
    border: 2px solid transparent;
    transition: transform .30s ease, border-color .30s ease;

    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.card:hover {
    transform: translate(0.5px, -0.5px);
    border-color: var(--gray-300);
}