#services {
    background-color: var(--gray-600);
    padding-top: 88px;
    padding-bottom: 120px;
    padding-inline: 120px;
    .services {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
        max-width: 888px;
        margin-inline: auto;
        align-items: start;

        >div {
            grid-column: 1 / -1;
            text-align: center;
        }

        .card-service {
            border: 1px solid var(--gray-500);
            border-radius: 12px;
            max-width: 280px;
            height: 155px;
            gap: 20px;
            padding-block: 20px;
            padding-inline: 20px;

            h5,
            h3 {
                text-align: start;
                overflow-wrap: normal;
            }
        }
        h2 {
            margin-bottom: 8px;
        }
        h4 {
            margin-bottom: 56px;
        }
    }
}